<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-7 setdiv">
            <div class="panel border bg-white ">
                <div class="panel-heading">
                    <h2 class="pt-3 font-weight-bold"><b>Configure your Sync criteria with both systems</b></h2>
                </div>
                <div class="panel-body p-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Modules</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let s of syncDatas">
                            <tr>
                                <th scope="row">{{s.id}}</th>
                                <td>{{s.name}}</td>
                                <td>
                                    <input (change)="onChangeInput($event)" [value]="1" [id]="s.id"
                                        [checked]="s.optionValue1" type="checkbox"><label>PalletOMS To
                                        QuickBooks</label>
                                </td>
                                <td>
                                    <input (change)="onChangeInput($event)" type="checkbox" [value]="2" [id]="s.id"
                                        [checked]="s.optionValue2"><label>QuickBooks to
                                        PalletOMS</label>
                                </td>
                                <td>
                                    <input (change)="onChangeInput($event)" type="checkbox" [value]="3" [id]="s.id"
                                        [checked]="s.optionValue3"><label>Both Ways</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body pb-4 setcenter" [ngStyle]="{'display':updatebtn}">
                    <button (click)="Sync()" style="width: 150px !important;" class="btn-Login">Update</button>
                </div>
                <div class="panel-body pb-4 setcenter" [ngStyle]="{'display':savebtn}">
                    <button (click)="Sync1()" style="width: 150px !important;" class="btn-Login">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>