<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-7 setdiv">
            <div class="panel border bg-white">
                <div class="panel-heading">
                    <h2 class="p-3 font-weight-bold" style="line-height: 42px;"><b>Sync your QuickBooks account with
                            Pallet OMS</b></h2>
                </div>

                <div class="panel-body p-3 setcenter pt-0">
                    <button (click)="loginTest()" class="btn-Login">Connect QuickBook</button>
                </div>
                <div class="panel-body p-3  pt-2" style="color: #1b3468;">
                    <h5 class="setcenter">Modules that you can sync are as below:</h5>
                    <div class="row" style="padding-left: 50px;">
                        <ul>
                            <div class="row p-5 py-0" style="padding-left: 15px;">
                                <div class="col-7">
                                    <li>Customers</li>
                                </div>
                                <div class="col-5">
                                    <li>Invoice</li>
                                </div>
                                <div class="col-7">
                                    <li>Items</li>
                                </div>
                                <div class="col-5">
                                    <li>Orders</li>
                                </div>
                                <div class="col-7">
                                    <li>Payments </li>
                                </div>
                                <div class="col-5">
                                    <li>Sales Person </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>